@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body
{
  background-color: #fff;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 200px;
}

form {
   text-align: center;
}

input{
 height: 2.5em;
 text-align: left;
 margin: 0.5em;
}

.topdiv {
    width: 120%;
    top: -1px;
    display: block;
    position: fixed;
    background: #fff;
    overflow: hidden;
    z-index: 1;
}

.list {
    top: 120px;
    padding: 0;
   }

.list li {
    padding: 3px;
    display: inline-block;
   }

.list p {
    white-space: nowrap;
   }

.listdiv  {
  margin-top: 120px;
  border-collapse: collapse;
  padding: 15px;
  background: #fff;
}
